@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.left-line::before,
.right-line::after {
    content: "";
    position: fixed;
    width: 8px;
    height: 70vh;
    background-color: black;
}

.left-line::before {
    left: 0;
    top: 0;
}

.right-line::after {
    right: 0;
    bottom: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
